#content {
	width: 80%;
}

table {
	width: 100%;
}

#tableSearchBox {
	height: 28px;
	width: 35%;
	padding: 0 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: right;
	border: 1px solid #aaa;
}

#statusDiv {
	padding-bottom: 15px;
}

#advancedSearchLink {
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}

#advancedSearchOptions {
	padding-top: 5px;
	padding-bottom: 15px;
}

img {
	width: 64px;
	margin: auto;
}

.image {
	padding: 2px 0px 2px 2px;
}

tr {
	color: #444444;
}

th {
	color: #FFFFFF;
	background-color: #336699;
}

th:hover {
	background-color: #003366;
}

#columnDiv label {
	display: table-cell;
}

tr:nth-child(even) {
	background-color: #DDDDDD;
}
