#content
{
	width: 1000px;
	padding: 0;
	margin: 0 auto;
}
#scheduleTitle
{
	text-align: center;
	margin-bottom: 0em;
}
#iCal
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.5em;
    padding-top: .25em;
    padding-bottom: .25em;
}
#employeeScheduleContainer
{
	border: solid 3px silver;
	margin: auto;
	margin-top: 8px;
}
#viewMode
{
	position: relative;
	float: left;
	margin-left: 45px;
	margin-right: 10px;
}
#weeklyDefault
{
	position: relative;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#employeeSelector
{
	position: relative;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0.75em;
}
#timePickerDiv
{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 20%;
	font-size: 0.75em;
	cursor: pointer;
}
#shiftTypeSelector
{
	position: relative;
	float: right;
	margin-left: 10px;
	margin-right: 45px;
	font-size: 0.75em;
}
#period
{
	width: 68%;
	cursor: pointer;
}
#date
{
	width: 62%;
	cursor: pointer;
}
#now
{
	width: 6%;
	text-align: center;
}
#tradePopupDialog
{
	display: none;
	text-align: center;
}
#shiftPopupDialog
{
	display: none;
	text-align: center;
}
#periodNotes
{
	width: 100%;
	resize: both;
}
#schedulingNotes
{
	font-weight: bold;
	margin: 1em auto 1em auto;
	width: 50%;
}
.submitClass:hover
{
	stroke: #101010;
}
.submitClass:active
{
	fill: #404040;
	stroke: gray;
}
.changeWeekButtonRectangle:hover
{
	stroke: #404040;
}
.changeWeekButtonRectangle:active
{
	fill: #404040;
	stroke: gray;
}
.ui-datepicker-trigger
{
	vertical-align: middle;
}
.datePickerDiv
{
	float: right;
	width: 58%;
	margin-right: 4px;
}
.timeEntryDiv
{
	float: right;
	width: 54.5%;
	text-align: right;
}
.tradeLabel
{
	width: 100%;
	float: left;
	text-align: center;
	border: 0;
	color: #f6931f;
	font-weight: bold;
}
.tradeCommentBoxLabel, .tradeCommentBox {
	width: 100%;
	float: left;
	text-align: center;
	border: 0;
	font-weight: bold;
}
.tradeComment
{
	max-width: 5%;
	margin: auto 2.25% auto 2.25% !important;
	padding: 0 0 0 0 !important;
	float: left;
	min-height: 1em;
}
.tradeDelete
{
	cursor: pointer;
	margin: auto 12px;
	float: left;
}
.trade
{
	width: 90%;
	float: left;
}
.tradeShiftInfo
{
	font-weight: bold;
	font-size: 0.9em;
}
.iCalUrl
{
	margin: 0.5em auto;
	width: 518px;
}
.iCalShiftTypeCheckBox
{
	vertical-align: middle;
}
.iCalShiftLabel
{
	font-size: 0.8em;
}
.icalExcluded
{
	float: left;
	margin: 0.12em;
}
.popupDates
{
	text-align: left;
	position: relative;
	left: 0px;
	float: left;
	width: 195px;
}
.popupTimes
{
	text-align: left;
	position: relative;
	right: 0px;
	float: left;
	width: 172px;
	padding-left: 4px;
}
.myDatePicker
{
	width: 75%;
}
.myTimeEntry
{
	width: 65%;
}
.popupLabels
{
	font-weight: bold;
	width: 100%;
}
.no-close-dialog .ui-dialog-titlebar-close
{
	display: none;
}
.operationStatus
{
    position: fixed !important;
    display: table-cell;
    vertical-align: middle;
    right: 10px;
    bottom: 10px;
    text-align: right;
    padding: .5em;
    height: auto;
    width: auto;
    background-color: #369;
    z-index: 10;
    border: .2em solid #011948;
    color: lightsteelblue;
    border-radius: .8em;
}
.operationStatus.success
{
	background-color: #76913C;
	border: .2em solid #587B0E;
	color: lightgrey;
}
.operationStatus.warning
{
    background-color: #EED50B;
    border: .2em solid #E1A216;
    color: #4d4d4d;
}
.operationStatus.failure
{
    background-color: #ED2604;
    border: .2em solid #A11A03;
    color: silver;
}
.clearMe
{
	clear: both;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
.iCalShiftTypeLabel
{
        margin-right: .75em;
}
text
{
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
