[% extends "templates/simple.twig" %]
[% block content %]
	<h1 style="text-align:center">You are not authorized to view this page.</h1>
	<h3 style="text-align:center">The NetId '[[templateData.netId]]' is not authorized to view this page. If you believe this is in error, please contact your supervisor.</h3>
[% endblock %]
