.highlight 
{    
    border: 2px solid #FF0000;
}

.dateHighlight 
{
    border: 2px solid #FF0000;
}

td 
{ 
	text-align: center;
/*	width: 80%;  */
}

.deliniate
{
	border-top: 3px solid;
}

.deliniateTopLeft
{
	border-left: 3px solid;
	border-top: 3px solid;
}

.deliniateTopRight
{
	border-right: 3px solid;
	border-top: 3px solid;
}

.deliniateLeft
{
	border-left: 3px solid;
}

.deliniateLeftTicket
{
	border-left: 3px solid #006600;
}
	
.deliniateRight
{
	border-right: 3px solid;
}

select
{
	width:80%;
}
#employeeListTerminatedButton
{
	width:53%;
}
div.ticketReviewMain
{
 background-color:#002255;
 width: 100%;
 min-height:590px;
 padding:0px;
 margin:0px;
}
/*ContentPos div holds the divs for personal information
starting with picturePos div and ending with.....*/
#contentPos
{
 background-color: #FFFFFF;
 width: 97%;
 min-height:560px;
 border:2px solid gray;
 margin:0 auto;
 top:0px;
 position:relative;
}
/*Here starts div contentPost what it holds inside*/
#picturePos
{
width:145px;
height:145px;
background:gray;
border:2px solid gray;
left:30px;
top:-2px;
position:relative;
}
/*this id holds the contact id's */
#contactInfo 
{
width:64%;
height:180px;
border:2px solid gray;
left:34%;
top:-196px;
position:relative;
}

#firstNamePos
{
padding-left:10px;
width:120px;
height:30px;
border:1px solid #3F5678;
left:203px;
top:28px;
position:absolute;
}
/*output id for first Name*/
#fNameOutput  
{
width:196px;
height:30px;
border:1px solid #3F5678;
left:335px;
top:28px;
position:absolute;
}

#lastNamePos
{
padding-left:10px;
width:120px;
height:30px;
border:1px solid #3F5678;
left:203px;
top:60px;
position:absolute;
}
/*output id for last Name*/
#lNameOutput  
{
width:196px;
height:30px;
border:1px solid #3F5678;
left:335px;
top:60px;
position:absolute;
}
#netIdPos
{
padding-left:10px;
width:120px;
height:30px;
border:1px solid #3F5678;
left:203px;
top:92px;
position:absolute;
}

/*output id for netId*/
#netIdOutput  
{
width:196px;
height:30px;
border:1px solid #3F5678;
left:335px;
top:92px;
position:absolute;
}

/* End of Contact information id */
/* Here we have the id for Credetials/ skills section */
#ticketReviewTable 
{
width:97%;
min-height:220px;
border:1px solid gray;
margin:0 auto;
top:0px;
position:relative;
padding:1%
}

#submitButtonPos
{
margin-right: 50%;
margin-left: 46%;
position:relative;
}
/*---------------------End of contentPos div-----------------*/
#menuPos
{
 background-color: #FFFFFF;
 width: 253px; 
 min-height:250px;
 /*padding:10px; */
 border:2px solid gray;
 margin:0px;
 top:-19px;
 left:4px;
 position:absolute;
 max-height:250px;
}
#searchAndEmployeeInfo
{
width:97%;
height:245px;
border:1px solid gray;
margin:0 auto;
top:-1px;
position:relative;
padding:1%
}
#empSearch
{
 background-color: #FFFFFF;
 width: 26%;
 height: 225px;
 margin-left:1%;
 top:14px;
 position:relative;
}

#searchResultsList
	{
	height: auto;
	position: absolute;
	font-weight:bold;
	top: 8em;
	bottom: 0px;
	width: 93%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 10pt;
    margin-top: .5em; color: #666;
	margin:0px;
	margin-left: 7%;
	}

#searchHeading
{
	height: 6em;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	font-weight: bold;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-transform: lowercase;
	font-variant: small-caps;
	line-height: 83%;
	font-size: 12pt;
}
#appTitle
{
 font-size: 200%;
 font-family: Verdana,Arial,Helvetica,sans-serif;
 font-weight: bold;
 color:#FFFFFF;
 text-align:center;
}
.wrapper
 {
   // min-height:570px;
	width:973px;
}
.wrapper clearfix
{
	
	min-height:570px;
}
#ticketReviewTableEntry
{
	width:94%;
}
